<div class="row m-0">
    <div class="col-md-12">
        <h1 class="text-center">Matthew's Burgers</h1>
    </div>
</div>
<div class="row m-0">
    <div class="col-md-12">
        <ul class="list-group text-center">
            {{#each burgers}}
            <li class="list-group-item">ID: {{this.id}}
                {{this.burger_name}}
                {{this.devoured}}
                <button class="btn btn-default btn-primary rounded-pill" id={{this.id}}>EAT!</button></li>
            {{/each}}
        </ul>
    </div>
</div>

<div class="row mt-4 mx-0">
    <div class="col-md-12 text-center">
        <h2>Add a Burger</h2>
        <div class="formo py-3">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
            <button class="btn btn-default btn-secondary rounded" id="submit">Submit</button>
        </div>
    </div>
</div>